services:
  postgres:
    image: postgres:16
    container_name: crm-postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - crm-network

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: crm-auth
    restart: always
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KEYCLOAK_ADMIN: ${KC_ADMIN_USER}
      KEYCLOAK_ADMIN_PASSWORD: ${KC_ADMIN_PASSWORD}
      KC_HOSTNAME_STRICT: "false"
      KC_HTTP_ENABLED: "true"
      KC_PROXY: edge
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - crm-network

  adminer:
    image: adminer
    container_name: crm-adminer
    restart: always
    ports:
      - "8082:8080" # Mudamos para 8082 aqui
    depends_on:
      - postgres
    networks:
      - crm-network

networks:
  crm-network:
    driver: bridge

volumes:
  postgres_data: